@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  background: url("../images/bg-header-mobile.png") no-repeat center top;
}
@media screen and (min-width: 376px) {
  body {
    background: url("../images/bg-header-desktop.png") no-repeat center top;
  }
}
body main {
  max-width: 310px;
  margin: auto;
  overflow: hidden;
}
@media screen and (min-width: 376px) {
  body main {
    max-width: 1440px;
  }
}
body h1 {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: var(--DarkGrayishBlue);
}
body p {
  color: var(--GrayishBlue);
}
body img {
  max-width: 100%;
}
body button {
  width: 311px;
  height: 56px;
  border-radius: 28px;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #979797;
  margin-top: 24px;
}
@media screen and (min-width: 376px) {
  body button {
    width: 227px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
body button.cyan {
  background: var(--StrongCyan);
  box-shadow: 0 10px 20px 0 rgba(137, 229, 199, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
}
body button.lightblue {
  background: var(--LightBlue);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
}
body button:hover {
  opacity: 75%;
}

.header {
  max-width: 310px;
  margin: auto;
  margin-bottom: 140px;
}
@media screen and (min-width: 376px) {
  .header {
    max-width: 730px;
  }
}
.header img {
  margin: 123px 0 52px 0;
}
.header h1 {
  font-size: 32px;
  letter-spacing: -0.52px;
  margin-bottom: 25px;
}
@media screen and (min-width: 376px) {
  .header h1 {
    font-size: 46px;
    letter-spacing: -0.75px;
  }
}
.header p {
  font-size: 16px;
  letter-spacing: 0.12px;
  line-height: 26px;
  max-width: 315px;
  margin: auto;
}
@media screen and (min-width: 376px) {
  .header p {
    max-width: 1440px;
    font-size: 20px;
    letter-spacing: 0.15px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.feature {
  max-width: 310px;
  margin: auto;
}
@media screen and (min-width: 376px) {
  .feature {
    max-width: 730px;
  }
}
.feature h1 {
  font-size: 28px;
  letter-spacing: -0.46px;
  margin-bottom: 11px;
}
@media screen and (min-width: 376px) {
  .feature h1 {
    font-size: 36px;
    letter-spacing: -0.59px;
  }
}
.feature p {
  font-size: 16px;
  letter-spacing: 0.12px;
  line-height: 26px;
  margin-bottom: 0;
}
@media screen and (min-width: 376px) {
  .feature p {
    font-size: 18px;
    letter-spacing: 0.14px;
    line-height: 30px;
  }
}
.feature:last-of-type {
  margin-bottom: 20px;
}

.highlight-box {
  margin-bottom: 146px;
}
@media screen and (min-width: 376px) {
  .highlight-box {
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 144px;
  }
}
.highlight-box img {
  margin: 65px 0 56px 0;
}
@media screen and (min-width: 376px) {
  .highlight-box .highlight-text {
    max-width: 350px;
    text-align: left;
  }
}
.highlight-box .highlight-text h1 {
  font-size: 24px;
  letter-spacing: -0.39px;
  margin: 0 auto;
}
@media screen and (min-width: 376px) {
  .highlight-box .highlight-text h1 {
    font-size: 24px;
    letter-spacing: -0.39px;
  }
}
.highlight-box .highlight-text p {
  font-size: 16px;
  letter-spacing: 0.12px;
  line-height: 26px;
  margin-bottom: 38px;
}
@media screen and (min-width: 376px) {
  .highlight-box .highlight-text p {
    font-size: 16px;
    letter-spacing: 0.12px;
    line-height: 30px;
  }
}

.main-image {
  margin: 64px 0 100px 0;
}

.sub-feature-box {
  margin: 90px auto 131px auto;
  max-width: 1110px;
}
@media screen and (min-width: 376px) {
  .sub-feature-box {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 376px) {
  .sub-feature-box .sub-feature {
    width: 350px;
  }
}
.sub-feature-box .sub-feature img {
  margin-bottom: 15px;
}
.sub-feature-box .sub-feature h1 {
  font-size: 24px;
  letter-spacing: -0.39px;
  margin-bottom: 0px;
}
.sub-feature-box .sub-feature p {
  font-size: 16px;
  letter-spacing: 0.12px;
  line-height: 26px;
  margin-bottom: 56px;
}

.vendor-block {
  margin: 0 auto 170px auto;
  max-width: 1210px;
}
@media screen and (min-width: 376px) {
  .vendor-block {
    display: flex;
    justify-content: space-between;
  }
}
.vendor-block img {
  display: block;
  margin: auto;
  margin-bottom: 67px;
}
.vendor-block img.google {
  width: 118px;
}
@media screen and (min-width: 376px) {
  .vendor-block img.google {
    width: 165px;
  }
}
.vendor-block img.ibm {
  width: 121px;
}
@media screen and (min-width: 376px) {
  .vendor-block img.ibm {
    width: 144px;
  }
}
.vendor-block img.microsoft {
  width: 125px;
}
@media screen and (min-width: 376px) {
  .vendor-block img.microsoft {
    width: 160px;
  }
}
.vendor-block img.hp {
  width: 113px;
}
@media screen and (min-width: 376px) {
  .vendor-block img.hp {
    width: 134px;
  }
}
.vendor-block img.vector {
  width: 105px;
}
@media screen and (min-width: 376px) {
  .vendor-block img.vector {
    width: 125px;
  }
}

footer {
  margin-top: 180px;
  background: rgba(128, 171, 178, 0.1);
}
footer .flex-container {
  max-width: 1340px;
  margin: auto;
}
@media screen and (min-width: 376px) {
  footer .flex-container {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    height: 150px;
  }
}
footer img {
  display: block;
  width: 55px;
  margin: auto;
  padding-top: 52px;
  padding-bottom: 40px;
}
@media screen and (min-width: 376px) {
  footer img {
    margin: 0;
    padding: 25px 0;
  }
}
footer a {
  display: block;
  font-size: 18px;
  color: var(--DarkGrayishBlue);
  letter-spacing: 0.14px;
  line-height: 30px;
  margin: 20px 0;
  text-decoration: none;
}
footer a:hover {
  color: var(--StrongCyan);
}
footer .socials svg {
  margin: 20px 20px 50px 20px;
}
footer .socials svg path:hover {
  fill: var(--StrongCyan);
}
@media screen and (min-width: 376px) {
  footer .socials svg {
    margin: 55px 12px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}